<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="index.css">
<body>

<main id="chargen">

    <h1>CharGen</h1>

    <div id="Info" class="clear">
        <h2>Info</h2>
        <div is="info-category"
	     v-for="(item, index) in form.info"
             v-bind:group_id="'info'"
             v-bind:category="item"
             v-bind:category_index="index"
	></div>
    </div>
<!--             v-bind:key="item.id"-->

    <div id="Attributes" class="clear">
        <h2>Attributes</h2>
        <div is="attribute-category"
	     v-for="(item, index) in form.attributes"
             v-bind:category="item"
             v-on:sumchanged="RecomputeAttributePriorities()"
	></div>    

    </div>

    <div id="skills" class="clear">
        <h2>Skills</h2>
        <div is="attribute-category"
	     v-for="(item, index) in form.skills"
             v-bind:category="item"
             v-on:sumchanged="RecomputeAttributePriorities()"
	></div>    
    </div>

    <div id="spells" class="clear">
        <h2>Spells</h2>
        <div is="attribute-category"
	     v-for="(item, index) in form.spells"
             v-bind:category="item"
             v-on:sumchanged="RecomputeAttributePriorities()"
	></div>    
    </div>


</main>

<script src="vue.min.js"></script><!--script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script-->
<script src="app-data.js"></script>
<script src="index.js"></script>
</body>
</html>